div.jumbotron
    h1 {{ title }}
div
    .col-xs-12
        form(name="searchUser", ng-submit="search(username)")
            input(type="search", required='', ng-model="username")
            input(type="submit", value="search")
div.row
    .jumbotron.col-xs-6.pull-left.text-center
        p {{ error || "" }}
        h2.text-primary {{user.login}}
        h2 {{user.name}}
        h2.text-muted {{user.location}}
    .col-xs-6.text-center(style='height: 186px; overflow: scroll;')
        table
            thead
                tr
                    th.text-center.col-xs-4 Name
                    th.text-center.col-xs-4 Stars
                    th.text-center.col-xs-4 Language
            tbody
                // USING AN ORDERBY FILTER ON NG-REPEAT
                tr(ng-repeat='repo in repos | orderBy:repoSortOrder')
                    td {{repo.name}}
                    td {{repo.stargazers_count | number}}
                    td {{repo.language | uppercase}}
    div.col-xs-12.text-right
        Order: select#repoSort(ng-model='repoSortOrder')
            option(value='+name') Name Ascending
            option(value='-name') Name Descending
            option(value='+stargazers_count') Stars Ascending
            option(value='-stargazers_count') Stars Descending
            option(value='+language') Language Ascending
            option(value='-language') Language Descending
    div.col-xs-12
        a(href='/') Back to Search