div
    .col-xs-12(ng-hide="user") {{ countdown }}
        .col-xs-12(ng-hide="user")
            form(name="searchUser", ng-submit="search(username)")
                input(type="search", required='', ng-model="username")
                input(type="submit", value="search")

