div
    div.jumbotron
        div.container
            h1 {{ title }}
div.container
    div.col-xs-12.text-center
        select(ng-model="selectedColor" ng-options="lineColor.short for lineColor in lineColors")

    div.lead.col-xs-12.text-center
        h2.col-xs-6(style={color: '{{titleColor}}'}) {{line}}
        div.col-xs-6
            h2 {{stations.length}}
                p results
    table.col-xs-12.text-center
        thead
            tr
                th.text-center.col-xs-4 City
                th.text-center.col-xs-4 Code
                th.text-center.col-xs-4 Name
        tbody
            tr(ng-repeat='station in stations')
                td {{station.Address.City}}
                td {{station.Code}}
                td {{station.Name}}
    div.col-xs-12
        hr
        a(href='/') Back to Search