ul.nav.nav-pills.nav-pills-justified.metro-tabs
    li(role="presentation" ng-class="{active:isActive('/main')}")
        a(href="/") {{isSelected}} Star Wars API testing
    li(role="presentation" ng-class="{active:isActive('/githubUser')}")
        a(href="/githubUser/8bitg") {{isSelected}} Github User Search
    li(role="presentation" ng-class="{active:isActive('/metrod3')}")
        a(href="/metrod3") {{isSelected}} Metro API Testing