doctype
html(ng-app='metroD3')
    head
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/vendor/sass-bootstrap/dist/css/bootstrap.min.css")
        include scripts
    body
        block main-content